@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


*{
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 17px;
}


@theme {
  /* Fonts/Typography */
  --font-weight-Exbold: 700;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-lidium: 400;
  --font-weight-light: 300;

  --text-xl: 55px;
  --text-lar: 35px;
  --text-mid: 16px;
  --text-sm: 8px;

  /* Color/Theme */
  --color-primary: #B9FF66;
  --color-secondary: #191A23;
  --color-tertiary: #F3F3F3;

  /* Spacing */

  --spacing-padding-lg: 82px;
  --spacing-padding-md: 62px;
  --spacing-padding-sm: 42px;

  /* Breakpoints */

  --breakpoint-mobile: ;
  --breakpoint-tablet: ;
  --breakpoint-desktop: ;
}