@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";


* {
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 17px;
}


@theme {
  /* Fonts/Typography */
  --font-weight-Exbold: 700;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --font-weight-lidium: 400;
  --font-weight-light: 300;

  --text-xl: 55px;
  --text-lar: 35px;
  --text-mid: 25px;
  --text-sm: 16px;
  /* --text-sm: 8px; */

  /* Color/Theme */
  --color-primary: #B9FF66;
  --color-secondary: #191A23;
  --color-tertiary: #F3F3F3;

  /* Spacing */

  --spacing-padding-lg: 75px;
  --spacing-padding-md: 62px;
  --spacing-padding-smid: 42px;
  --spacing-padding-sm: 22px;

  /* Breakpoints */

  --breakpoint-Smobile: 320px;
  --breakpoint-Mmobile: 375px;
  --breakpoint-Lmobile: 425px;
  --breakpoint-Stablet: 764px;
  --breakpoint-desktop: 1024px;
  --breakpoint-Ldesktop: 1440px;
}

body {
  padding-bottom: 62px;
}



.servicesCard-container {
  grid-auto-rows: 1fr;
  column-gap: 4px;

  @media (width >=554px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >=1024px) {
    column-gap: 32px;
  }
}



.services-cta-img {

  @media (min-width: 1024px) and (max-width: 1192px) {
    right: -10;
    top: 0;
    width: 370px;
  }

  @media (width >=1193px) {
    right: 0;
    width: 550px;
  }
}

.case-studies-tabs {
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  overflow: scroll;

  @media (width >=1024px) {
    overflow: visible;
  }
}

.mid {
  border-left: 1.5px solid #F3F3F3;
  border-right: 1.5px solid #F3F3F3;


}

.team-container {
  grid-auto-rows: 1fr;

  @media (width >=661px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width >=1101px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team-container:nth-child {

  @media (width >=545px) {}

  @media (width >=1101px) {
    max-width: 285px;
  }
}

.team-button-container {
  @media (width >=661px) {
    button {
      min-width: 200px;
      max-width: 250px;
    }

    justify-content: end;

  }
}

.testimonials-container {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}


@media (min-width: 536px) and (max-width: 1024px) {

  .sponsor-parent {
    flex-wrap: nowrap;
  }


}

@media (min-width: 1024px) and (max-width: 1186px) {

  .nav-li {
    margin-right: 12px;
  }


}

@media (min-width: 1187px) {

  .nav-li {
    margin-right: 36px;
  }


}